* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    color: #111;
    background-color: #FFF;
    font: 16px Georgia, Palatino, serif;
    background-color: #FAFAFA;
}

a {
    color: #FF4242;
    text-decoration: none;
}

p {
    color: #333;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}


div.container {
    margin: 0 auto;
    max-width: 760px;
    min-height: 100%;
    background-color: white;
}

div.inner-container {
    padding: 1em;
}

a.home {
    display: block;
    margin: 0.3em 0;
}

/* ABOUT SECTION */
div.about {
    width: 100%;
    background-color: #E1EDB9;
    position: relative;
    margin-bottom: 1em;
}

div.about p {
    padding: 1em;
}

/* POSTS */
.post {
    margin-bottom: 2em;
}

.post a {
    font-size: 2em;
    display: block;
    text-align: center;
    color: #333;
}

.post .date {
    display: block;
    text-align: center;
    color: #666;
}

.post p {
    margin-top: 0.5em;
    font-style: italic;
}

.single-post .meta {
    display: block;
    text-align: center;
    color: #666;
}

.single-post p {
    margin-top: 1em;
}

.single-post h2 {
    text-align: left;
    font-weight: normal;
    margin: 0;
    margin-top: 1em;
    margin-bottom: -0.5em;
}

.single-post h1 {
    font-weight: normal;
    font-size: 2em;
}

pre {
    margin-top: 1em;
    margin-left: 1em;
}

code {
    font-family: 'Droid Sans Mono', 'Source Code Pro', monospace;
    font-size: 0.8em;
}
